<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vietnguyen.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.example.vietnguyen.myapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.vietnguyen.myapplication.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ecard.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data android:name="AA_SERIALIZERS"
            android:value="com.example.vietnguyen.models.UtilDateSerializer" />

        <activity
            android:name="com.example.vietnguyen.controllers.SplashActivity"
            android:label="@string/title_activity_splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.vietnguyen.controllers.MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="@string/app_name" />

        <activity
            android:name="com.example.vietnguyen.core.controllers.MyActivity"
            android:label="@string/title_activity_my"></activity>


        <receiver
            android:name="com.example.vietnguyen.controllers.LocalBroadcastReceiver"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.example.vietnguyen.utils.LocalBroadcastReceiver" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--<receiver-->
            <!--android:name="com.google.android.gcm.GCMBroadcastReceiver"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->

                <!--&lt;!&ndash; Receives the actual messages. &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--&lt;!&ndash; Receives the registration id. &ndash;&gt;-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

                <!--<category android:name="com.example.vietnguyen.myapplication" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <service
            android:name="com.example.vietnguyen.controllers.NotificationService"
            android:enabled="true" />
    </application>

</manifest>
